html, body {
	color: black;
	background: white;
	font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", "Droid Sans", "Bitstream Vera Sans", sans-serif;
}
article {
	max-width: 600px; margin: auto;
}
.fake-lightbox {
	width: 200px;
	height: 40px;
	padding: 15px;
	position: relative; /*Important for the position of the close box*/
	margin: 25px auto;
	box-shadow: 0 2px 12px #333;
	-ms-box-shadow: 0 2px 12px #333;
	-moz-box-shadow: 0 2px 12px #333;
	-webkit-box-shadow: 0 2px 12px #333;
	border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #666;
}